.holcDiv {
  position: absolute;
  top: 100px;
  left: 430px;
  display: flex;
  gap: 40px;
}
.chartContainer {
  display: flex;
  flex-direction: column !important;
  padding: 10px;
  margin-left:100px;
}
#chart {
  margin-top: 0px;
  width: 65vw;
  height: 8vh;
}


.ChartFilterButtons {
  position: absolute;
  bottom: 0px;
  margin-left: 20px;
}
.chartButton {
  border: 1px solid black;
  color: black;
  padding: 0px;
  margin: 0px 5px;
}
